{% load  static %}
    <script src="{% static "assets/js/jquery-1.10.2.js" %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <!-- Metis Menu Js -->
    <script src="{% static "assets/js/jquery.metisMenu.js" %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static "assets/js/morris/raphael-2.1.0.min.js" %}"></script>
    <script src="{% static "assets/js/morris/morris.js" %}"></script>
	<script src="{% static "assets/js/easypiechart.js" %}"></script>
	<script src="{% static "assets/js/easypiechart-data.js" %}"></script>
    <script src="{% static "assets/js/Chart.js" %}"></script>
	<script src="{% static "assets/js/chart.min.js" %}"></script>
    <!-- Custom Js -->
    <script src="{% static "assets/js/custom-scripts.js" %}"></script>