{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>login</title>
<link rel="stylesheet" type="text/css" href="{% static "assets/css/normalize.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "assets/css/demo.css" %}" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="{% static "assets/css/component.css" %}" />
<!--[if IE]>
<script src="{% static "assets/js/html5.js" %}"></script>
<![endif]-->
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3><img src="{% static "logo.png" %}"><br>Linux运维系统</h3>
						<form action="/login/" name="f" method="post" action="/login/" novalidate>{% csrf_token %}
							<div class="input_outer">
								<span class="u_user"></span>
								{#  <input name="logname" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">#}
                                {{ form.username }} <span style="color: red">{{ form.username.errors }}</span>
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								{# <input name="logpass" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">#}
                                {{ form.pwd }} <span style="color: red">{{ form.username.errors }}</span>
							</div>

                            <button class='act-but submit btn btn-primary btn-block' style="width: 100%;border: none;">登录</button>
						</form>
						<span>还没有账号？<a href="/register/" style="color:#E6A548">立即注册</a></span>
					</div>
				</div>
			</div>
		</div><!-- /container -->
		<script src="{% static "assets/js/TweenLite.min.js" %}"></script>
		<script src="{% static "assets/js/EasePack.min.js" %}"></script>
		<script src="{% static "assets/js/rAF.js" %}"></script>
		<script src="{% static "assets/js/demo-1.js" %}"></script>
	</body>
</html>