<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>

    </style>
</head>
<body>

    <div class="container">
        <form class="form-signin" method="post" action="/login/" novalidate>{% csrf_token %}
            {#            <h2 class="form-signin-heading">Please sign in</h2>#}
            <label for="username">用户名</label>
            {{ form.username }} <span style="color: red">{{ form.username.errors }}</span>
            <label for="username">密码</label>
            {{ form.pwd }} <span style="color: red">{{ form.username.errors }}</span>
            <span style="color: red">
                  {#  {% if form|username_errors %}#}
                  {# {{ form|user_errors }}#}
                  {# {% endif %} #}

            </span>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <span>还没有账号？<a href="/register/">立即注册</a></span>
        </form>


    </div> <!-- /container -->
</body>
</html>

