{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Index {% endblock %}</title>
    <!-- Bootstrap Styles-->
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static "assets/css/font-awesome.css" %}"  rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static "assets/js/morris/morris-0.4.3.min.css" %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static "assets/css/custom-styles.css" %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> -->
    {% block header_css %}
    {% endblock %}
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index/"><img src="/static/logo.png"><i class="fa fa-comments"></i> <strong>LINUX运维系统 </strong></a>
            </div>
            <div class="navbar-inverse">
                <ul class="nav navbar-nav navbar-left">
                {% block topmenu2 %}{% endblock %}
            </ul>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                {% block topmenu1 %}{% endblock %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i>{% block username %}{% endblock %} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url "logout" %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
		<div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li >
                        <a {% block base_class1 %}{% endblock %} href="{% url "index"  %}"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li >
                        <a {% block base_class2 %}{% endblock %} href="{% url "host_list"  %}"><i class="fa fa-desktop"></i> 资产管理</a>
                    </li>
					<li  >
                        <a {% block base_class3 %}{% endblock %}href="#"><i class="fa fa-sitemap"></i> 主机管理<span class="fa arrow"></span></a>
                        <ul {% block second_lev_c1 %}class="nav nav-second-level"{% endblock %}>
                            <li>
                                <a href="{% url "key_list" %}">salt认证</a>
                            </li>
                            <li>
                                <a href="{% url "remote_execution" %}">远程命令</a>
                            </li>
                            <li>
                                <a href="{% url "targeting_execution" %}">批量命令</a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a {% block base_class4 %}{% endblock %} href="{% url "record"  %}"><i class="fa fa-qrcode"></i> 审计记录</a>
                    </li>
                    <li >
                        <a {% block base_class5 %}{% endblock %} href="{% url "user_list"  %}"><i class="fa fa-user"></i> 用户管理</a>
                    </li>
                    <li >
                        <a {% block base_class6 %}{% endblock %} href="/empty/"><i class="fa fa-fw fa-file"></i> 空页测试</a>
                    </li>
                    <li >
                        <a {% block base_class7 %}{% endblock %} href="#"><i class="fa fa-fw fa-file"></i> 系统管理相关测试</a>
                        <ul {% block second_lev_c2 %}class="nav nav-second-level"{% endblock %}>
                            <li>
                                <a {% block base_class7_1 %}{% endblock %} href="{% url "aqzm_index" %}">安全桌面</a>
                            </li>
                            <li>
                                <a href="{% url "mac_list" %}">MAC地址绑定</a>
                            </li>
                            <li>
                                <a href="#">开发中。。</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">

                {% block body_123 %}{% endblock %}

            <footer><p>Copyright &copy; 2018.Xuhb name All rights reserved.</p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static "assets/js/jquery-1.10.2.js" %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	 
    <!-- Metis Menu Js -->
    <script src="{% static "assets/js/jquery.metisMenu.js" %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static "assets/js/morris/raphael-2.1.0.min.js" %}"></script>
    <script src="{% static "assets/js/morris/morris.js" %}"></script>
	
	
	<!-- <script src="/static/assets/js/easypiechart.js"></script> !-- >
	<!-- <script src="/static/assets/js/easypiechart-data.js"></script>!-- >
	<script src="/static/assets/js/chart.min.js"></script>
	
    <!-- Custom Js -->
    <script src="{% static "assets/js/custom-scripts.js" %}"></script>

    {% block body_js %}{% endblock %}
</body>

</html>